# Configuración de Supabase
SUPABASE_URL=https://qunkgbmxmxmjponyxzdu.supabase.co
SUPABASE_ANON_KEY=sb_publishable_2an39B-QMQpwkuaCYfg1Bw_EgWoC-SF

# Microservicios Backend en Producción (Render)
API_BASE_URL_USUARIOS=https://usuarios-api-n1qi.onrender.com
API_BASE_URL_VIVIENDAS=https://viviendas-api.onrender.com
API_BASE_URL_AVISOS=https://avisos-api-qg5b.onrender.com
API_BASE_URL_CONDOMINIOS=https://condominios-api-vv32.onrender.com
